
src/org.cmoflon.runtime/projects/CMoflonAdvancedDemo/bin/.keepgen
src/org.cmoflon.runtime/projects/CMoflonAdvancedDemo/bin/.keepsrc
src/org.cmoflon.runtime/projects/cMoflonDemoLanguage/bin/.keepgen
src/org.cmoflon.runtime/projects/cMoflonDemoLanguage/bin/.keepsrc
src/org.cmoflon.runtime/.project
