<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.cmoflon.ide.core.runtime.natures.CMoflonRepositoryNature"
         name="CMoflon Repository Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cmoflon.ide.core.runtime.natures.CMoflonRepositoryNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.cmoflon.ide.core.runtime.natures.CMoflonMetamodelNature"
         name="CMoflon Metamodel Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cmoflon.ide.core.runtime.natures.CMoflonMetamodelNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.cmoflon.ide.core.runtime.builders.CMoflonMetamodelBuilder"
         name="CMoflon Metamodel Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.cmoflon.ide.core.runtime.builders.CMoflonMetamodelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.cmoflon.ide.core.runtime.builders.CMoflonRepositoryBuilder"
         name="CMoflon Repository Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.cmoflon.ide.core.runtime.builders.CMoflonRepositoryBuilder">
         </run>
      </builder>
   </extension>
</plugin>
