<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="cMoflonDemoLanguage.CMoflonDemoLanguagePackage" genModel="model/CMoflonDemoLanguage.genmodel" uri="platform:/plugin/cMoflonDemoLanguage/model/CMoflonDemoLanguage.ecore"/>
  </extension>
</plugin>
