<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.moflon.ide.ui.category"
            name="eMoflon">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.cmoflon.ide.ui.admin.wizards.metamodel.NewCMoflonMetamodelWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            id="org.cmoflon.ide.ui.admin.wizards.metamodel.NewCMoflonMetamodelWizard"
            name="New cMoflon Metamodel Wizard"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.moflon.ide.ui.toolbar"
               label="eMoflon Toolbar">
            <command
                  commandId="org.cmoflon.ide.ui.commands.build.BuildCommand"
                  icon="resources/icons/rebuildClasses.png"
                  label="BuildCMoflon"
                  mnemonic="C"
                  style="push"
                  tooltip="Build cMoflon Code">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isMoflonPerspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.moflon.ide.ui.commands.MainCategory"
            id="org.cmoflon.ide.ui.commands.build.BuildCommand"
            name="BuildCMoflon">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.cmoflon.ide.ui.admin.handlers.BuildHandler"
            commandId="org.cmoflon.ide.ui.commands.build.BuildCommand">
         <enabledWhen>
            <or>
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.isProject">
                     </reference>
                  </iterate>
               </with>
               <with
                     variable="activeEditorInput">
                  <or>
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.hasIntegrationNature">
                     </reference>
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.hasMetamodelNature">
                     </reference>
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.hasRepositoryNature">
                     </reference>
                  </or>
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isInPackageExplorer">
                  </reference>
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isInProjectExplorer">
                  </reference>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
