<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.cmoflon.ide.ui.category"
            name="cMoflon">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.cmoflon.ide.ui.category"
            class="org.cmoflon.ide.ui.admin.wizards.metamodel.NewCMoflonMetamodelWizard"
            finalPerspective="org.moflon.ide.ui.MoflonPerspective"
            hasPages="true"
            icon="resources/icons/NewCMoflonMetamodelProject.png"
            id="org.cmoflon.ide.ui.admin.wizards.metamodel.NewCMoflonMetamodelWizard"
            name="New cMoflon Metamodel Wizard"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="true">
      </wizard>
   </extension>
</plugin>
